<div class="section articles">
<div class="section article">
    <h2><%= @entry.title %></h2>
      <p class="date"><%= l @entry.created_at.to_time %></p>
  <div class="body">
    <%= @entry.body %>
  </div>
  <div class="footer">
    <% if logged_in? %>
    <p><a href="<%= @entry.edit_link %>"><%= t.edit %></a></p>
    <% end %>
  </div>
</div>
</div>